{% extends 'rango/base.html' %}

{% load static %}  <!-- informs django's template system we will be using static media -->

{% block title %}{{ "Add a Page" }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Add a Page</h1>
    <!-- the csrf_token is a Cross-Site Request Forgery token
    it helps protect and secure the HTTP post action.
    Note that this also indicates the url when the form is
    submitted. -->
    <form id="page_form" method="post" action="/rango/category/{{category_name_url}}/add_page/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}
            {{ field }}
        {% endfor %}

        <input type="submit" name="submit" value="Create Page" />
    </form>
</div>
{% endblock %}