{% extends 'rango/base.html' %}

{% load static %}  <!-- informs django's template system we will be using static media -->

{% block title %}{{ "Welcome to Rango" }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{user.username}}</h1>
    {% else %}
        <h1>Rango says..hello world!</h1>
    {% endif %}

    <img src="{% static 'rango.jpg' %}" alt = "Picture of Rango" />

        <h2>Categories</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

        <h2>Pages</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
</div>
{% endblock %}
