{% extends 'rango/base.html' %}

{% load static %}  <!-- informs django's template system we will be using static media -->

{% block title %}{{ "Login" }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
        <h1>Login to Rango</h1>

        <form id="login_form" method="post" action="/rango/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="submit" />
        </form>
</div>
{% endblock %}